@import "styleInJs.css";

body {
  color: #303C54;
  background-color: #303C54;
}

.container {
  background-color: #5D7889;
  width: 500px;
  min-height: 500px;
  margin: 10% auto;
  border-radius: 20px;
}

.form__for-list {
  background-color: #5D7889;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__input {
  display: flex;
  justify-content: center;
  background-color: #5D7889;
  border-radius: 20px;
  position: relative;
  padding-top: 20px;
}

.input__name {
  background-color: #DBC5D1;
  padding: 0 0 0 15px;
  color: #303C54;
  width: 90%;
  height: 31px;
  border-radius: 20px;
}

.btn__send {
  background-color: #C38DAE;
  width: 80px;
  height: 25px;
  position: absolute;
  right: 30px;
  top: 23px;
  border-radius: 20px;
  transition: all 0.5s;
}

.btn__send:hover {
  transform: scale(1.1);
}

.line {
  position: absolute;
  top: 65px;
  left: 10px;
  width: calc(100% - 20px);
  border: 2px solid #C38DAE

  ;
  border-radius: 50px;
}

.noties__list {
  margin-left: 10px;
}